<div class="container">


  <div class="text-center mb-2">
    <h3><strong>Sales Report</strong> <small> <strong>{{data.start}}- to -{{data.end}}</strong></small></h3>
  </div>

  <div class=" ml-3 ">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="" style="background:#494ca2;color:white" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
        Search
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/admin/limit-report?limit=yearly">Yearly</a>
        <a class="dropdown-item" href="/admin/limit-report?limit=monthly">Monthly</a>
        <a class="dropdown-item" href="/admin/limit-report?limit=weekly">Weekly</a>
      </div>
    </div>
  </div>




  <div class="ml-3 mb-2">
    <div class="col-md-12">
      <form action="/admin/date-report" method="post">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="start">
              <h6>From Date</h6>
            </label>
            <input type="date" class="form-control" id="start" name="startDate" required>
          </div>
          <div class="form-group col-md-4">
            <label for="end">
              <h6>To Date</h6>
            </label>
            <input type="date" class="form-control" id="end" name="endDate" required>
          </div>
          <div class="form-group col-md-4 " style="margin-top:36px ;">
            <input type="submit" value="Search" class="btn btn-block" style="background:#494ca2;color:white">
          </div>
        </div>
      </form>
    </div>

  </div>




  <div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-8">
      <div class="container p-4">

        <table id="Table" class="Table" style="">
          <thead>
            <div style="color:#494ca2"> Orders</div>
            <tr>
              <th>Sl.</th>
              <th>Date</th>
              <th>User Details</th>
              <th>Actual Amount</th>
              <th>Discounts</th>
              <th>Pay Amount</th>            
              <th>Payment & Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td>{{inc @index}}</td>
              <td>{{this.date}}</td>
              
              <td>
                Name:{{this.deliveryDetails.name}}<br>
                {{this.deliveryDetails.houseName}},{{this.deliveryDetails.streetLocation}},{{this.deliveryDetails.pin}},{{this.deliveryDetails.state}}
              </td>
              <td>₹{{this.oldTotal}}</td>

          {{#if this.noOffer}}
          <td>No offer</td>
        {{else if this.couponStatus}}
          <td>Coupon:<span style="font-size:14px;">₹{{this.couponDiscount}}</span></td>
        {{else if  this.walletStatus}}
            <td>Wallet:<span style="font-size:14px;">₹{{this.walletDiscount}}</span></td>
        {{else if /admin/view-orderssthis.CandW}}
          <td>Coupon:<span style="font-size:14px;">₹{{this.couponDiscount}}</span></td>
          <td>Wallet:<span style="font-size:14px;">₹{{this.walletDiscount}}</span></td>      
        {{/if}}

          <td>₹{{this.totalAmount}}</td>
              <td>{{this.paymentMethod}} : {{this.status}}</td>


            </tr>
            {{/each}}

          </tbody>
        </table>
        <table id="Table" class="Table mt-5" >
          <thead>
              <tr>
                <th>Sl.</th>
               <th style="padding-left: 5rem;">Product Name</th>
               <th style="padding-left: 7rem;"> Offer</th>
               <th style="padding-left: 3rem;">Amount Details</th>

               <th style="padding-left: 7rem;">Quantity</th>
               
              </tr>
          </thead>
          <tbody>

            {{#each order}}
              <tr>
                
               
               
               <td>{{inc @index}}</td>
               <td style="padding-left: 5rem;" >{{this.pro.Name}}</td>
               
                {{#if this.pro.offer}}
                <td style="padding-left: 7rem;">   Offer:{{this.pro.offerPer}}% </td>
                 <td style="padding-left: 3rem;">    ₹{{this.pro.Price}} , <del> ₹{{this.pro.actualPrice}}</del></td>                   
                   
                {{else}} 
                <td style="padding-left: 7rem;">  No Offer</td>
                 <td style="padding-left: 3rem;">   ₹{{this.pro.Price}}</td>
                {{/if}}
                </td>
               <td style="padding-left: 7rem;">{{this.quantity}}</td>
              </tr>
             {{/each}}
          </tbody>
        </table>
      </div>
    </div>







    <div class="col-6 col-md-2">
      <div class="row ml-5 " style="margin-top:11rem ;">

        <div class="col-sm-6  ">
          <div class="card  " style="width: 255px;">
            <div class="card-body " style="margin:1rem;">

              <h6 class="d-flex align-items-center mb-3" style="color:#494ca2 ;">Report summary </h6>
              <small>Totl Sales : {{data.totalSales}}</small>
              <div class="progress mb-3" style="height: 5px">

              </div>
              <small>Total Orders : {{data.totalOrders}}</small>
              <div class="progress mb-3" style="height: 5px">
              </div>
              <small>Delivered Orders : {{data.deliveredOrder}}</small>
              <div class="progress mb-3" style="height: 5px">
              </div>
              <small>Pending Orders : {{data.faildOrders}}</small>
              <div class="progress mb-3" style="height: 5px">
              </div>
              <small>COD : {{data.cod}} </small>
              <div class="progress mb-3" style="height: 5px">
              </div>
              <small>Paypal : {{data.paypal}}</small>
              <div class="progress mb-3" style="height: 5px">
              </div>
              <small> Razorpay : {{data.razorpay}} </small>
              <div class="progress mb-3" style="height: 5px">
              </div>


            </div>
          </div>

        </div>

      </div>
      
    </div>



  </div>

</div>








<script>
  $(document).ready(function () {
    $('.Table').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });
  });
</script>