<section class="container">
  <div class="container p-5">

    <table class="table mt-5" id="dataTable">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Address</th>
          <th>Actual Amount</th>
          <th>Discount</th>
          <th scope="col">Pay Amount</th>
          <th>Payment</th>
          <th>Status</th>
          <th>Product Details</th>
          <th>Option</th>


        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <th scope="row">{{this.date}}</th>
          <td>
            {{this.deliveryDetails.houseName}},{{this.deliveryDetails.streetLocation}},{{this.deliveryDetails.pin}},{{this.deliveryDetails.state}}<br>
            ph:{{this.deliveryDetails.phone}}
          </td>

        <td>₹{{this.oldTotal}}</td>

          {{#if this.noOffer}}
          <td>No offer</td>
        {{else if this.couponStatus}}
          <td>Coupon:<span style="font-size:14px;">₹{{this.couponDiscount}}</span></td>
        {{else if  this.walletStatus}}
            <td>Wallet:<span style="font-size:14px;">₹{{this.walletDiscount}}</span></td>
        {{else if /admin/view-orderssthis.CandW}}
          <td>Coupon:<span style="font-size:14px;">₹{{this.couponDiscount}}</span></td>
          <td>Wallet:<span style="font-size:14px;">₹{{this.walletDiscount}}</span></td>      
        {{/if}}

          <td>₹{{this.totalAmount}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td><a href="/admin/view-orderss/{{this._id}}" class="btn btn-success ">View</a></td>


          {{#if failed}}
             <td>
            <div class="dropdown show">
              
          </td>
          {{else if cancel}}
          <td>
            <div class="dropdown show">
            
          </td>
          
          {{else}}
          <td>
            <div class="dropdown show">
              <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{this.status}}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/admin/change-status?id={{this._id}}&status=Cancelled">Canelled</a>
                <a class="dropdown-item" href="/admin/change-status?id={{this._id}}&status=Shipped">Shipped</a>
                <a class="dropdown-item" href="/admin/change-status?id={{this._id}}&status=Delivered">Delivered</a>
                <a class="dropdown-item" href="/admin/change-status?id={{this._id}}&status=Placed">Placed</a>
              </div>
            </div>
          </td>
          {{/if}}


        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function CancelOrder(event) {
    var link = event.currentTarget.href;
    event.preventDefault();


    Swal.fire({
      title: 'Are you sure?',
      text: "You want to delete !",
      icon: 'warning',
      iconColor: '#bf0f0f',
      showCancelButton: true,
      confirmButtonColor: '#11ba25',
      cancelButtonColor: '#bf0f0f',
      confirmButtonText: ` Yes `
    }).then((result) => {
      if (result.isConfirmed) {

        window.location = link;
      } else {

        return false;
      }
    })
  }

</script>