<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Ordered Products</h2>
      </div>
    </div>
    <section>
      <div class="container mt-5">
        <div class="row">
          {{#each products}}
          <div class="col-md-3 p-3 " style="margin-left:1rem">
            <div class="card" style="width: 16rem;height:22rem">
              <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap">

              <div class="card-body mb-2">
                <h5 class="card-title text-center text-black">{{this.product.Name}}</h5>
                {{#if this.product.offer}}
                   <h6 class="card-text text-center text-danger">{{this.product.offerPer}}%</h6>                                
                   <h6 class="card-text text-center " style="color: green;">₹{{this.product.Price}}
                   <del class="product-old-price text-center text-secondary"> ₹{{this.product.actualPrice}}</del></h6>
                {{else}} 
                   <h6 class="card-text text-center " style="color: green;" >₹{{this.product.Price}}</h6>
                {{/if}} 
                  <h6 class="card-text text-center text-primary">Quantity: {{this.quantity}}</h6>
              </div>
            </div>

          </div>
          {{/each}}

        </div>
      </div>


    </section>




  </div>
</div>